<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prismic Vue.js Starter</title>
  <meta name="description" content="Vue.js starter project with content managed in Prismic">
  <meta name="author" content="Prismic">
  <link rel="icon" href="<%= BASE_URL %>favicon.png">
  <script>
    window.prismic = {
      endpoint: 'http://your-repo-name.prismic.io/api/v2'
    }
  </script>
  <script src="https://static.cdn.prismic.io/prismic.min.js"></script>
</head>
<body>
  <noscript>
    <strong>We're sorry but this project doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>
</html>
