.container {
  max-width: 700px;
  margin: auto;
}
.blog-main, .home {
  max-width: 700px;
  margin: auto;
}

/* Home header */
.home {
  text-align: center;
}
.home .blog-avatar {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: 1em auto;
}
.home .blog-description {
  font-size: 18px;
  color: #9A9A9A;
  line-height: 30px;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  font-family: 'Lato', sans-serif;
  border-bottom: 1px solid #DADADA;
}

/* Fullwidth Image. */
.blog-header {
  height: 85px;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background-color: white;
  background-size: cover;
  color: white;
  margin-bottom: 3rem;
}
.blog-header .wrapper {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.blog-header .meta {
  opacity: 0.7;
}
.blog-header.single, .blog-header.home {
  height: 100vh;
}

/* Blog header for single blog post. */
.blog-header.single::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}
.blog-header.single::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0.1) 90%, rgba(0,0,0,0.2) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0.1) 90%, rgba(0,0,0,0.2) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0.1) 90%, rgba(0,0,0,0.2) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0.1) 90%, rgba(0,0,0,0.2) 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0.1) 90%, rgba(0, 0, 0, 0.2) 100%);
}

/*
 * Blog posts
 */
.outer-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.back {
  color: #9A9A9A;
  display: block;
  max-width: 700px;
  margin: 0 auto 2em auto;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
.back:before {
  content: '←';
  display: inline-block;
  position: relative;
  margin-right: 8px;
}
.back a {
  color: #9A9A9A;
}
.back a:hover {
  text-decoration: underline;
}
.post-part.single a, .blog-main.single a {
  text-decoration: none;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.8) 75%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.8) 75%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 23px;
}
.blog-post {
  margin-bottom: 3rem;
}
.blog-post h2 {
  margin: 0;
}
.blog-post-meta {
  color: #9A9A9A;
  font-family: 'Lato', sans-serif;
  margin-bottom: 8px;
}
.post-part.single img, .blog-main.single img {
  width: 100%;
  height: auto;
}
.post-part.single .image-full-width + .image-label, .blog-main.single .image-full-width + .image-label {
  width: 100%;
}
.post-part.single .image-label {
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #949494;
}
.image-label .block-quotation, .post-part.single .block-quotation {
  margin-bottom: 2rem;
  display: inline-block;
  font-style: italic;
  font-size: 24px;
}
.post-part.single .block-quotation:before { content: "« " }
.post-part.single .block-quotation:after { content: " »" }
.post-part.single .block-citation {
  display: inline-block;
  font-style: italic;
  border-left: solid #B4B4B4 4px;
  padding-left: 10px;
}
.post-part li {
  list-style-type: initial;
  margin-left: 1em;
}

/* Blog footer. */
footer {
  max-width: 700px;
  margin: 0 auto;
  color: #9A9A9A;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  border-top: 1px solid #DADADA;
}

/* Media Queries */
@media (max-width: 767px) {
  .home, .blog-main, .container, footer {
    padding: 0 20px;
  }
  .post-part, .blog-main {
    font-size: 18px;
  }
  .post-part pre {
    font-size: 14px;
  }
  h1 {
    font-size: 36px;
    line-height: 45px;
  }
  h2 {
    font-size: 28px
  }
  h3 {
    font-size: 18px;
  }
  .blog-header .wrapper {
    width: 80%;
  }
  .blog-header {
    padding: 5px;
  }
  .blog-header.home {
    background-image: none;
  }
  .blog-post-meta, .blog-post-meta {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  /* Blog post images */
  .post-part.single .block-quotation ,  .blog-main.single .block-quotation {
    width: 130%;
    margin: 0 -15% 2rem -15%;
    font-size: 30px;
    padding: 0;
  }
  .block-img.emphasized {
    width: 130%;
    margin: 0 -15% 2rem -15%;
  }
  .post-part.single .block-citation, .blog-main.single .block-citation {
    margin: 20px 0;
  }
  .blog-post-meta {
    font-size: 16px;
  }
}

/* vh vw fallback for ios7 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .main .blog-header.single, .blog-header.home {
    height: 1024px;
  }
  .main .blog-main.single .image-full-width {
    width: 768px;
  }
  .main .post-part.single .image-full-width {
    width: 768px;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  .main .blog-header.single, .blog-header.home {
    height: 768px;
  }
  .main .blog-main.single .image-full-width {
    width: 768px;
  }
  .main .post-part.single .image-full-width {
    width: 768px;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  .main .blog-header.single, .main .blog-header.home {
    height: 530px;
  }
  .main .blog-main.single .image-full-width {
    width: 530px;
  }
  .main .post-part.single .image-full-width {
    width: 530px;
  }
}
