<template>
  <!-- Vue conditional to check if there is any content in document -->
  <div v-if="this.hasContent" class="page">
    <div class="home">
      <!-- Button to edit document in dashboard -->
      <prismic-edit-button :documentId="documentId"/>
      <div class="blog-avatar" v-bind:style="{ backgroundImage: 'url(' + fields.image + ')' }">
      </div>
      <!-- Template for page title. -->
      <h1 class="blog-title">
        {{ $prismic.richTextAsPlain(fields.headline) }}
      </h1>
      <!-- Template for page description. -->
      <p class="blog-description">{{ $prismic.richTextAsPlain(fields.description) }}</p>
    </div>
    <!-- Template for blog posts. -->
    <div v-if="posts.length !== 0" class="blog-main">
      <div v-for="post in posts" :key="post.id" class="blog-post">
        <h2><a :href="linkResolver(post)">{{ $prismic.richTextAsPlain(post.data.title) }}</a></h2>
        <p class="blog-post-meta"><span class="created-at">{{ post.data.date }}</span></p>
        <div>
          <p>{{getFirstParagraph(post)}}</p>
        </div>
      </div>
    </div>
    <!-- If no blog posts return message. -->
    <div v-else class="blog-main">
      <p>No Posts published at this time.</p>
    </div>
  </div>
  <!-- If no content return message. -->
  <div v-else class="home">
    <p> Please add some content to your blog home document.</p>
  </div>
</template>

<script>
export default {
  name: 'blog-home',
  data () {
    return {
      documentId: '',
      fields: {
        headline: null,
        description: null,
        image: null
      },
      posts: [],
      slice: [],
      linkResolver: this.$prismic.linkResolver,
      hasContent: false
    }
  },
  methods: {
    getContent () {
      //Query to get home content
      this.$prismic.client.getSingle('blog_home')
        .then((document) => {
          if (document) {
            this.documentId = document.id
            this.fields.headline = document.data.headline;
            this.fields.description = document.data.description;
            this.fields.image = document.data.image.url;

            //Call to function to check for any content on the blog home page.
            this.checkForContent();

            //Query to get blog posts
            this.$prismic.client.query(
              this.$prismic.Predicates.at('document.type', 'post'),
              { page : 1, orderings : '[my.post.date desc]' }
            ).then((response) => {
              this.posts = response.results;
            });
          } else {
            //returns error page
            this.$router.push({ name: 'not-found' })
          }
        })
    },
    //Function to check for any content on the blog home page.
    checkForContent(){
      if (
        this.fields.image != undefined ||
        this.$prismic.richTextAsPlain(this.fields.headline) !== "" ||
        this.$prismic.richTextAsPlain(this.fields.description) !== ""
      ) {
        this.hasContent = true;
      }
    },
    //Function to get the first paragraph of text in a blog post and limit the displayed text at 300 characters.
    getFirstParagraph (post) {
      const slices = post.data.body;
      let firstParagraph = '';
      let haveFirstParagraph = false;

      slices.map(function(slice) {
        if (!haveFirstParagraph) {
          if (slice.slice_type == "text") {
            slice.primary.text.forEach(function(block){
              if (block.type == "paragraph") {
                if (!haveFirstParagraph) {
                  firstParagraph += block.text;
                  haveFirstParagraph = true;
                }
              }
            });
          }
        }
      });
      const textLimit = 300
      const limitedText = firstParagraph.substr(0, textLimit)

      if (firstParagraph.length > textLimit) {
        return limitedText.substr(0, limitedText.lastIndexOf(' ')) + '...';
      }
      else {
        return firstParagraph;
      }
    },
  },
  created () {
    this.getContent(this.$route.params.uid)
  },
  beforeRouteUpdate (to, from, next) {
    this.getContent(to.params.uid)
    next()
  }
}
</script>