<template>
  <div class="main">
    <div class="outer-container">
      <div class="back">
        <a href="./">back to list</a>
      </div>

      <h1>Page not found</h1>
      <p>Sorry we were unable to find the page you are looking for.</p>
      <p><a href="/" style="text-decoration: underline;">Return to home</a></p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NotFound'
}
</script>
