<template>
  <div class="main">
    <div class="outer-container">
      <div class="back">
        <a href="./">back to list</a>
      </div>
      <!-- Button to edit document in dashboard -->
      <prismic-edit-button :documentId="documentId"/>

      <h1 class="blog-title">
        {{ $prismic.richTextAsPlain(fields.title) }}
      </h1>
    </div>
      <!-- Slice section template -->
      <section v-for="(slice, index) in slices" :key="'slice-' + index">
        <!-- Text slice template -->
        <template v-if="slice.slice_type === 'text'">
          <div class='post-part single container'>
            <div>
              <prismic-rich-text :field="slice.primary.text"/>
            </div>
          </div>
        </template>
        <!-- Quote slice template -->
        <template v-else-if="slice.slice_type === 'quote'">
          <div class='post-part single container'>
            <span class='block-quotation'>
              <prismic-rich-text :field="slice.primary.quote"/>
            </span>
          </div>
        </template>
        <!-- Image with caption slice template -->
        <template v-else-if="slice.slice_type === 'image_with_caption'">
          <div class='post-part single container'>
            <p class="block-img" :class="slice.slice_label">
              <prismic-image :field="slice.primary.image"/>
            </p>
            <span class="image-label">
              <prismic-rich-text :field="slice.primary.caption"/>
            </span>
          </div>
        </template>
      </section>
  </div>
</template>

<script>
export default {
  name: 'post',
  data () {
    return {
      documentId: '',
      fields: {
        title: null,
        date: null,
      },
      slices: []
    }
  },
  methods: {
    getContent (uid) {
      //Query to get post content
      this.$prismic.client.getByUID('post', uid)
        .then((document) => {
          if (document) {
            this.documentId = document.id
            this.fields.title = document.data.title
            this.fields.date = document.data.date
            //Query to get slices
            this.slices = document.data.body
          } 
          else {
            //returns error page
            this.$router.push({ name: 'not-found' })
          }
        })
    }
  },
  created () {
    this.getContent(this.$route.params.uid)
  },
  beforeRouteUpdate (to, from, next) {
    this.getContent(to.params.uid)
    next()
  }
}
</script>